body {
  color: black;
  font-size: 16px;
  font-family: "Avenir", Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0;
  font-weight: lighter;
}

#main {
  max-width: 650px;
  margin: auto;
  padding: 45px 15px 75px 15px;
  text-align: left;
}

#abstracts-main {
  max-width: 900px;
  margin: auto;
  padding: 45px 15px 75px 15px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

.nav-links {
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;
}

.nav-links a {
  padding: 16px;
  color: black;
}

.nav-links a:visited {
  color: black;
}

.cancellation-notice h3 {
  color: #D23B39;
  font-size: 24px;
}

.cancellation-notice p {
  font-style: italic;
}

.cancellation-notice > a {
  text-decoration: none;
}

.content-grid p {
  margin-top: 0;
}

.content-grid > div {
  margin: auto;
}

@media screen and (min-width: 740px) {
  .content-grid {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: left;
    align-items: left;
    margin: 0;
    margin-top: 20px;
  }

  .content-grid > div {
    margin: 0;
  }

  .content-grid p {
    margin-top: 1em;
  }
}

.one {
  grid-column: 1 / 2;
  grid-row: 1;
}

.two {
  grid-column: 2 / 2;
  grid-row: 1;
}

.topic-list {
  column-width: 220px;
}

.question-list {
  margin-top: 25px;
}

.support-logos {
  text-align: center;
  margin-top: 60px;
}

.speaker-links {
   font-size: 19px;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

ul {
  margin-top: 0;
}

li {
-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.poster {
  margin-top: 13px;
}

table.abstracts-index {
  margin-bottom: 24px;
}

.abstracts-index tr:nth-child(odd) {
  background-color: #fdf1ef;
}

.abstracts-index td {
  padding: 6px 12px;
}

#abstracts-main h2 {
  text-align: center;
}

#abstracts-main h3 {
  margin-bottom: 0;
}

#abstracts-main img {
  max-width: 600px;
}

.author, .caption {
  margin-top: 0;
}

.bio {
  font-style: italic;
}

.bio em {
  font-style: normal;
}

.index-return {
  position: absolute;
}

.index-return a::before {
  content: "\2191";
}

.index-return a {
  text-decoration: none;
  position: absolute;
  left: -56px;
  top: 6px;
  padding: 5px 12px;
  background-color: #fdf1ef;
}
